.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #f9f9f9;
  z-index: 100;
}

.header__logo {
  & > img {
    height: 40px;
    object-fit: contain;
  }
}
